/* MAX MEDIUM */
@media (max-width: 991.98px) {
    #header .navbar-collapse {
        width: 100%;
    }

    #header .nav-link {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 767.98px) {
    #servicos a.destaque .img-container {
        height: 120px;
    }
    #servicos a.destaque .img-container img {
        max-height: 120px;
    }
}